/* 首页文章卡片 */
#recent-posts > .recent-post-item{
    background:rgba(255, 255, 255, 0.8);
  }
  /* 首页侧栏卡片 */
  .card-widget{
  background:rgba(255, 255, 255, 0.8)!important;
  }
  /* 文章页面正文背景 */
  div#post{
  background: rgba(255, 255, 255, 0.8);
  }
  /* 分页页面 */
  div#page{
  background: rgba(255, 255, 255, 0.8);
  }
  /* 归档页面 */
  div#archive{
  background: rgba(255, 255, 255, 0.8);
  }
  /* 标签页面 */
  div#tag{
  background: rgba(255, 255, 255, 0.8);
  }
  /* 分类页面 */
  div#category{
  background: rgba(255, 255, 255, 0.8);
  }
  
  /* 页脚透明 */
  #footer{
    background: transparent!important;
  }
  /* 头图透明 */
  /* #page-header{
    background: transparent!important;
  } */
  /*白天模式伪类遮罩层透明*/
  [data-theme="light"]
    #footer::before{
        background: transparent!important;
      }
  /*夜间模式伪类遮罩层透明*/
  [data-theme="dark"]
    #footer::before{
        background: transparent!important;
      }
  [data-theme="dark"]
    #page-header::before{
      background: transparent!important;
      }
  /*夜间模式页面背景设置为半透明*/
  [data-theme="dark"]
    div.recent-post-item{
        background: rgba(0, 0, 0, 0.5)!important;
      }
  [data-theme="dark"]
    #aside-content .card-widget{
        background: rgba(0, 0, 0, 0.5)!important;
      }
  [data-theme="dark"]
    div#post{
      background: rgba(0, 0, 0, 0.5)!important;
      }
  [data-theme="dark"]
    div#page{
      background: rgba(0, 0, 0, 0.5)!important;
      }
  [data-theme="dark"]
    div#archive{
      background: rgba(0, 0, 0, 0.5)!important;
      }
  [data-theme="dark"]
    div#tag{
      background: rgba(0, 0, 0, 0.5)!important;
    }
  [data-theme="dark"]
    div#category{
      background: rgba(0, 0, 0, 0.5)!important;
    }
    
  /*阅读模式*/
  .read-mode #aside-content .card-widget{
        background: rgba(158, 204, 171, 0.5)!important;
      }
  .read-mode div#post{
      background: rgba(158, 204, 171, 0.5)!important;
      }
  /*夜间阅读模式*/
  [data-theme="dark"]
    .read-mode #aside-content .card-widget{
          background: rgba(0, 0, 0, 0.5)!important;
          color: #eeeeee;
        }
  [data-theme="dark"]  
    .read-mode div#post{
        background: rgba(0, 0, 0, 0.5)!important;
        color: #eeeeee;
        }
  